# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# Dataset folder
data/

# Generated outputs
outputs/
results/

# Trained models
models/*.pkl
models/*.pt
models/*.h5

# Large files
*.csv
*.xlsx
*.zip

# OS files
.DS_Store
Thumbs.db